/auto-save-list/
/transient/
/workspace/
/backups/
/server/
/eshell/
/users/
/elpa/
/temp/
/url/
/var/

/places
/recentf
/history
/custom.el
/smex.items
/eww-bookmarks
/.dir-locals.el
/.emacs.desktop
/.emacs.desktop.lock
/.persistent-scratch
/early-init.el
/package-quickstart.el
/projectile-bookmarks.eld

*.~
*.elc
/emojis/
