[submodule "site-lisp/parinfer-mode"]
	path = site-lisp/parinfer-mode
	url = https://github.com/DogLooksGood/parinfer-mode.git
[submodule "site-lisp/zen-mode"]
	path = site-lisp/zen-mode
	url = https://github.com/aki237/zen-mode.git
